body { 
	background: #333333;
	color: white;
	 }

img { float: right; }

h1  { color: red; }

a { background: white;
	color:black; }
h2 { color: white; }
h3 { color: green; }
h4 { color: blue; }
h5 { color: navy blue; }
h6 { color: yellow; }

ol { background: #444444; }

ul { background: #222222; }

li { color: #0099ff; font-family: 'ZCOOL KuaiLe', cursive;}
table { float: right; color:#aaaaaa;}


.main { background: white;
		color: black; }
.main h1,h2,h3,a { color:black; }

td { color:dddddd; font-family: 'ZCOOL KuaiLe', cursive;}

#hello { background: black;
		width: 350px;
		margin-left: 150px; }

h1 { text-align: center; }
p { font-size: 30px;
	font-family: 'ZCOOL KuaiLe', cursive;
	line-height: 1.5;
	border: 5px solid red;
	border-radius: 10px;
	padding: 20px 70px 20px 70px ;
	 }