<!Doctype html>
<html lan='en-us'>
<head>
<meta charset="UTF-8">
<link rel='icon' type='image/ico' href="{ url_for('static',filename='image/grras.jpeg') }">
<title>Grras Solutions Pvt. Ltd, Jaipur</title>
<link rel='stylesheet' type="text/css" href="/static/main.css">
<link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
</head>

<body>
	<marquee><h1>Grras Solutions Pvt. Ltd, Jaipur</h1></marquee>
	<a href="three.html">Signup</a>
	<button><a href="two.html" >Login</a> </button>
<div class='main'>
	<img src='first.jpg'>
<h1>This is Heading One</h1>
<h2>This is Heading Two</h2>
<h3>This is Heading Three</h3>
</div>
<div>
<h4>This is Heading Four</h4>
<h5>This is Heading Five</h5>
<h6>This is Heading Six</h6>
</div>

<div>
	<h1>This is Paragraph One</h1>
<p>
<b>Hello world</b>,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<i>This is just a pragraph.</i> <br />
We use p tag to <strong>define paragraphs.</strong> 
<span>
so on so, this is good some text some data we have into p tag to form a paragraph.
</span>
</p>
</div>

<div id='hello'>
	<h1> Courses Taught in Grras </h1>
<ol>
	<li>Python</li>
	<ul>
		<li>Web Design</li>
		<li>Data Science</li>
		<li>Machine Learning</li>
		<li>Artificial Intelligence</li>
	</ul>
	<li>Mean</li>
	<ul>
		<li>Mongo DB</li>
		<li>Express Java Script</li>
		<li>Angular Java Script</li>
		<li>Node Java Script</li>
	</ul>
	<li>Linux</li>
	<ul>
		<li>Basics of Linux</li>
		<li>RHCSA</li>
		<li>RHCE</li>
		<li>RHCOE Module</li>
	</ul>
	<li>Cloud</li>
	<ul>
		<li>Public Cloud</li>
		<li>Private Cloud></li>
	</ul>
	<li>DevOps</li>
	<ul>
		<li>Python</li>
		<li>Git</li>
		<li>Linux</li>
		<li>Ansible</li>
		<li>Docker</li>
		<li>Container</li>
		<li>Kubernets</li>
		<li>Jenkins</li>
	</ul>
</ol>

<table>
	<th>Student DATA</th>
<tr>
	<td>ID</td>
	<td>Name</td>
	<td>Fees</td>
	<td>Due</td>
</tr>
<tr>
	<td>1</td>
	<td>sachin</td>
	<td>15000</td>
	<td>3500</td>
</tr>
<tr>
	<td>2</td>
	<td>kushal</td>
	<td>18000</td>
	<td>1200</td>
</tr>
<tr>
	<td>3</td>
	<td>yadvendra</td>
	<td>15000</td>
	<td>2500</td>
</tr>
<tr>
	<td>4</td>
	<td>manish</td>
	<td>18000</td>
	<td>8000</td>
</tr>

</table>
</div>
</body>

</html>
