<!Doctype html>

<html lang='en-us'>
<head>
	<meta charset="UTF-8">
	<link rel='icon' type='image/ico' href='grras.jpeg'>
	<title>Login for Grras Solutions</title>
</head>

<body>
	
<h1> Welcome Login Page</h1>
<a href="one.html">HOME PAGE</a>
<a herf="three.html">Signup</a>
<h2>Login Form</h2>
<form>
	<label>Username : <input type="text" name="username" placeholder="eg. john123" required>
	</label>
	<br />
	<label>Password : <input type="passw" name="password" placeholder="One@123" required=""></label>
	<br />
	<label>Remember Me <input type="radio" name="remember"></label>
	<br />
	<input type="submit" value='LOGIN'>
</form>
</body>