body { background-color: #123456; }

footer { margin: auto; color:red; font-size: 50px; }

h1 { color: white; }


td { color: #f1f1f1; }

table { border: 5px solid red;
		 }
tr { border: 3px red; }

td { border: 3px red; }

div { 
		margin:auto; }